button {
    background-color: #0a6bf3;
  border-radius: 4px;
  border: 0;
  color: #cacaca;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.buttons[type="submit"]:hover {
    background-color: #29862e;
    color: white;
  }